.registration_form input[type="text"]{
    width: 300px;
}

form textarea{
    width: 500px;
    height: 50px;
}

.registration_form input[type="email"]{
    width: 300px;

}

form select {
    background: #ed645c;
}

form .actions input[type=submit]{
    font-size: 15px;
}